<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- 公共基础样式 -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- 字体图标 -->
    <link rel="stylesheet" href="./font/font_pvcaorpe3pc/iconfont.css">
    <!-- 项目基础样式 -->
    <link rel="stylesheet" href="css/base.css">
    <!-- category.html 文件特有样式 -->
    <link rel="stylesheet" href="css/category.css">
    <!-- 加载 js 文件 -->
    <script src="./vendors/jquery/jquery.min.js"></script>
    <title>课程分类</title>
</head>

<body>
    <!-- 导航栏 -->
    <div class="hearder-content navBar component-white">
        <!-- <div class="logo"> -->
        <img src="./images/logo.png" alt="图片加载失败">
        <!-- </div> -->
        <div class="title">
            课程分类
        </div>
    </div>
    <!-- 导航栏填充部分 -->
    <div class="fill-navBar clearfix">
        123123
    </div>
    <!-- 导航栏结束 -->
    <div class="main">

        <!-- left sort title start-->
        <div class="left-sort-title">
            <ul class="">
                <li class="selected">
                    <div>前端</div>
                </li>
                <li>
                    <div>微信小程序</div>
                </li>
                <li>
                    <div>Vue.js</div>
                </li>
                <li>
                    <div>移动web开发</div>
                </li>
                <li>
                    <div>bootstrap</div>
                </li>
                <li>
                    <div>Node.js</div>
                </li>

            </ul>
        </div>
        <div class="detail-sort component-white">
            <ul>
                <li class="selected">
                    <!-- 就业课 -->
                    <div class="work-section clearfix">
                        <h3>就业班</h3>
                        <div class="banner">
                            web前端在线就业课
                        </div>
                    </div>
                    <!-- 提高课 -->
                    <div class="improve-section clearfix">
                        <h3>提高课</h3>
                        <ul class=" clearfix">
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                        </ul>
                    </div>

                </li>
                <li>
                    <!-- 就业课 -->
                    <div class="work-section clearfix">
                        <h3>就业班</h3>
                        <div class="banner">
                            web前端在线就业课
                        </div>
                    </div>
                    <!-- 提高课 -->
                    <div class="improve-section clearfix">
                        <h3>提高课</h3>
                        <ul class=" clearfix">
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- 就业课 -->
                    <div class="work-section clearfix">
                        <h3>就业班</h3>
                        <div class="banner">
                            web前端在线就业课
                        </div>
                    </div>
                    <!-- 提高课 -->
                    <div class="improve-section clearfix">
                        <h3>提高课</h3>
                        <ul class=" clearfix">
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <!-- 就业课 -->
                    <div class="work-section clearfix">
                        <h3>就业班</h3>
                        <div class="banner">
                            web前端在线就业课
                        </div>
                    </div>
                    <!-- 提高课 -->
                    <div class="improve-section clearfix">
                        <h3>提高课</h3>
                        <ul class=" clearfix">
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                            <li>微信小程序</li>
                            <li>深入探索js</li>
                            <li>node.js</li>
                            <li>bootstrap</li>
                            <li>vue.js</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- left sort title end -->
    </div>
    <!-- 填充底部高度 -->

    <!-- 填充底部高度 -->
    <div class="fill-footer clearfix">

    </div>
    <!-- 填充底部 完成 -->
    <!-- footer -->
    <div class="tabbar" id="tabbar">
        <ul>
            <li class="">
                <span class="icon iconfont">&#xe722;</span>
                <div class="name">首页</div>
            </li>
            <li></li>
            <li></li>
            <li class="selected">
                <span class="icon iconfont">&#xe602;</span>
                <div class="name">分类</div>
            </li>
        </ul>
    </div>
    <script src="js/tabbar.js"></script>
    <!-- footer 结束 -->
</body>


</html>